  @import "../scss/variables";

  
  .card {
      margin: 20px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
          box-shadow:0 1px 11px 0 rgba(0,0,0,.3);  
      }
    border-radius: 14px;
    &__image {
        width:100%;
        border-radius: 7px 7px 0 0;
      }
      
      &__body {
        padding:1rem;
        background: #fff;
        border-radius: 0 0 7px 7px;
      }
      
      &__title {
        line-height: 0.5rem;
        color:black;
      }
      &__description {
        margin-bottom: 0.2rem;
        font-size: 1.0rem;
        margin-bottom: 0rem;
        color:black;
      }
      &__price {
        font-size: 1rem;
        font-weight: bold;
      }
      &__button {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        padding: 9px;
        
        a {
            text-decoration: none;
          }
        &--inner {
            padding: 10px;
            border-radius: 3px;
          }
      }
      &__bag {
        background: $secondaryColor;
        color: white;
        &:hover{
            background: $primaryColor;
          }
      }
  }


.navbar{
  &__brand{
    color: white;
    &:hover{
      text-decoration: none;
      color: $primaryColor;
    }
  }
  ul{
    li{
      text-decoration: none;
    }
  }
}